* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  padding: 2em;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1.75fr 1.75fr 6fr;
  grid-template-rows: 20% 40% 30%;
  grid-template-areas:
    "box1 box2 box3"
    "box1 box2 box4"
    "box5 box5 box5";
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  grid-area: box1;
  text-align: center;
  height: 100%;
  width: 100%;
}

.bartenders {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
}
.bartender {
  width: 35%;
  margin: auto;
}
.bartender img {
  width: 100%;
}

.bartender h3 {
  font-size: 1em;
}

.box2 {
  background: white;
  grid-area: box2;
  text-align: CENTER;
}

.box3 {
  background: white;
  grid-area: box3;
  text-align: right;
  padding: 1%;
}

body > main > div.box3 > img {
  width: 20%;
  padding: 2%;
}

.box4 {
  background: white;
  grid-area: box4;
  text-align: right;
  margin: auto;
  height: 100%;
  width: 100%;
}

.box5 {
  grid-area: box5;
  text-align: right;
  display: grid;
  margin: auto;
}

.ontaptoday {
  margin-right: 20px;
}

#list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  margin-top: 1em;
}

.beer {
  display: grid;
  text-align: center;
  column-gap: 185px;
  grid-template-areas:
    "image image"
    "name name"
    "type type"
    "alc alc"
    "price price";
}

.beer > img {
  grid-area: image;
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
}

h1 {
  margin: auto;
  margin-right: 10%;
}

.boxheader {
  margin-top: 8%;
}

.queue {
  margin: auto;
  margin-right: 10%;
}

.ontap {
  font-size: 14px;
  margin-top: 0;
}

.price {
  font-size: 14px;
  color: #f0621f;
}

.beerimage {
  grid-area: image;
}

.beername {
  grid-area: name;
}

.beertype {
  grid-area: type;
}

.beeralc {
  grid-area: alc;
}

.beerprice {
  grid-area: price;
}

.serving {
  color: #f0621f;
}

td {
  width: 100%;
  padding: 2%;
}

#container2 {
  width: 100%;
  margin: auto;
  height: 100%;
  overflow: hidden;
}
#container {
  --queue-offset: -20vh;
  --iterations: 1;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.queue-entry {
  --image-url: url("images/tickets/ticket_00.png");
  height: 100%;
  width: 90%;
  margin: 1em;
  opacity: 1;
  background-image: var(--image-url);
  background-size: contain;
  background-repeat: no-repeat;
  /* transition: opacity 0.5s; */
}

.move-queue {
  animation: moveQueue 1s var(--iterations) ease;
}

.show-queue {
  animation: showQueue 1s ease forwards;
}

.hide-queue {
  opacity: 0.1;
}

@keyframes showQueue {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveQueue {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--queue-offset) * 1px));
  }
}
