* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100vh;
  padding: 2em;
}

main {
  height: 100%;
  display: grid;
  grid-template-columns: 1.75fr 1.75fr 6fr;
  grid-template-rows: 20% 40% 30%;
  grid-template-areas:
    "box1 box2 box3"
    "box1 box2 box4"
    "box5 box5 box5";
}

.box1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  grid-area: box1;
  text-align: center;
  height: 100%;
  width: 100%;
}

.bartender {
  width: 35%;
  margin: auto;
  margin-top: 4em;
}
.bartender img {
  width: 100%;
}

.bartender h3 {
  font-size: 1em;
}

.box2 {
  background: white;
  grid-area: box2;
  text-align: CENTER;
}

.box3 {
  background: white;
  grid-area: box3;
  text-align: right;
  padding: 1%;
}

body > main > div.box3 > img {
  width: 20%;
  padding: 2%;
}

.box4 {
  background: white;
  grid-area: box4;
  text-align: right;
  margin: auto;
  height: 100%;
  width: 100%;
}

.box5 {
  grid-area: box5;
  text-align: right;
  display: grid;
  margin: auto;
}

.ontaptoday {
  margin-right: 8%;
}

#list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  margin-top: 1em;
}

.beer {
  display: grid;
  text-align: center;
  width: 100%;
  grid-template-areas:
    "image image"
    "name name"
    "type type"
    "alc alc"
    "price price";
}

.beer > img {
  grid-area: image;
  width: 60%;
  margin: auto;
  margin-bottom: 15px;
}

h1 {
  margin: auto;
  margin-right: 10%;
}

.boxheader {
  margin-top: 8%;
}

.queue {
  margin: auto;
  margin-right: 10%;
}

.ontap {
  font-size: 14px;
  margin-top: 0;
}

.price {
  font-size: 14px;
  color: #f0621f;
}

.beerimage {
  grid-area: image;
}

.beername {
  grid-area: name;
}

.beertype {
  grid-area: type;
}

.beeralc {
  grid-area: alc;
}

.beerprice {
  grid-area: price;
}

.serving {
  color: #f0621f;
}

td {
  width: 100%;
  padding: 2%;
}

#container2 {
  width: 100%;
  margin: auto;
  height: 100%;
  overflow: hidden;
}
#container {
  --queue-offset: -20vh;
  --iterations: 1;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.queue-entry {
  --image-url: url("images/tickets/ticket_00.png");
  height: 100%;
  width: 90%;
  margin: 1em;
  opacity: 1;
  background-image: var(--image-url);
  background-size: contain;
  background-repeat: no-repeat;
  /* transition: opacity 0.5s; */
}

.move-queue {
  animation: moveQueue 1s var(--iterations) ease;
}

.show-queue {
  animation: showQueue 1s ease forwards;
}

.hide-queue {
  opacity: 0.1;
}

@keyframes showQueue {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveQueue {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--queue-offset) * 1px));
  }
}

#serving-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 90%;
  margin-top: 4em;
  overflow: hidden;
}

.serving-ticket {
  --image-url: url("images/tickets/ticket_00.png");
  height: 90%;
  width: 100%;
  background-image: var(--image-url);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
  transition: opacity 0.5s;
}

#secondserving1.move,
#secondserving2.move,
#secondserving3.move {
  animation: moveSecondServing 1s ease;
}
#serving1.move,
#serving2.move,
#serving3.move {
  animation: moveServing 1s ease;
}

@keyframes moveSecondServing {
  to {
    transform: translateX(-100%);
  }
}
@keyframes moveServing {
  to {
    opacity: 0;
  }
}
.serving-section {
  height: 100%;
  display: flex;
  overflow: visible;
}

.hide {
  opacity: 0;
}

.small-screen {
  display: none;
}

@media only screen and (max-width: 966px) {
  .large-screen {
    display: none;
  }

  .small-screen {
    display: initial;
  }

  * {
    background-color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    display: none;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .logo {
    background-color: #2a2723;
  }

  .logologo {
    width: 15%;
    padding: 1%;
    margin: 2%;
    background-color: #2a2723;
  }

  .time {
    text-align: left;
    border-bottom: 5px solid #2a2723;
    background-color: white;
    padding: 5%;
  }

  .tillclosing {
    color: #f0621f;
  }

  #tillclosing {
    color: #f0621f;
  }

  #bartender {
    margin: 5%;
  }

  #bartenders-wrapper {
    padding: 5%;
    border-bottom: 5px solid #2a2723;
  }

  h1 {
    text-align: center;
    background-color: white;
    margin-right: 0;
  }

  h3 {
    text-align: right;
    margin-right: 9%;
  }

  body > main > div.bartenderino.small-screen {
    background-color: white;
    text-align: center;
    align-self: center;
    align-content: center;
    margin: 25%;
  }

  #STOCK-WRAPPER {
    height: 100%;
    width: 100%;
    padding: 5%;
    margin: 1%;
  }

  #STOCK {
    display: flex;
    font-size: 5fr;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-bottom: -10px;
    border-bottom: 5px solid #2a2723;
  }

  #storage > img {
    width: 60%;
    margin: 5%;
  }

  #storage {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc(20%);
    align-self: center;
    text-align: center;
    margin-bottom: 5%;
  }

  #quantity {
    margin-top: 5%;
    margin-bottom: -4%;
  }

  #onTap_wrapper {
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
  }

  #oneTap {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
  }

  #oneTap_img > img {
    grid-area: label;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  #oneTap_img {
    width: 200px;
    background-color: red;
    display: flex;
  }

  #oneTap_beer {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
  }

  #oneTap_level {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
  }
}
