* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  height: 100vh;
  display: grid;
  grid-template-columns: 1.75fr 1.75fr 6fr;
  grid-template-rows: 1fr 3fr 2fr;
  grid-template-areas:
    "box1 box2 box3"
    "box1 box2 box4"
    "box5 box5 box5";
}

.box1 {
  background: white;
  grid-area: box1;
  text-align: center;
}

.box2 {
  background: white;
  grid-area: box2;
  text-align: CENTER;
}

.box3 {
  background: white;
  grid-area: box3;
  text-align: right;
  padding: 1%;
}

body > main > div.box3 > img {
  width: 20%;
  padding: 2%;
}

.box4 {
  background: white;
  grid-area: box4;
  text-align: right;
  margin: auto;
  height: 160px;
}

.box5 {
  grid-area: box5;
  text-align: right;
  display: grid;
  margin: auto;
}

.ontaptoday {
  margin-right: 20px;
}

#list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
  margin-top: 60px;
  margin-bottom: 60px;
}

.beer {
  display: grid;
  text-align: center;
  column-gap: 185px;
  grid-template-areas:
    "image image"
    "name name"
    "type type"
    "alc alc"
    "price price";
}

.beer > img {
  grid-area: image;
  width: 110px;
  margin: auto;
  margin-bottom: 15px;
}

h1,
h2 {
  padding: 1%;
}

h1 {
  margin: auto;
  margin-right: 10%;
}

h2 {
  margin-top: 8%;
}

.queue {
  margin: auto;
  margin-right: 10%;
}

.ontap {
  font-size: 14px;
  margin-top: 0;
}

.price {
  font-size: 14px;
  color: #f0621f;
}

.beerimage {
  grid-area: image;
}

.beername {
  grid-area: name;
}

.beertype {
  grid-area: type;
}

.beeralc {
  grid-area: alc;
}

.beerprice {
  grid-area: price;
}

.serving {
  color: #f0621f;
}

td {
  width: 100%;
  padding: 2%;
}

@media only screen and (max-width: 966px) {
  * {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
  }

  html,
  body {
    overflow-x: hidden;
  }

  body {
    position: relative;
  }

  .box1,
  .box2,
  .box3,
  .box4,
  .box5 {
    display: none;
  }

  main {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr 4fr 6fr 6fr;
    grid-template-areas:
      "logo"
      "time"
      "bartenderino"
      "stock"
      "ontap"
      "bestselling";
  }

  .logo {
    background-color: #2a2723;
  }

  .logologo {
    width: 30%;
    padding: 1%;
    margin: 2%;
    background-color: #2a2723;
  }

  template {
    margin: auto;
  }
}
