* {
  box-sizing: border-box;
  margin: 0;
}
#container2 {
  width: 100%;
  margin: auto;
  height: 100%;
  margin-bottom: 10em;
  overflow: hidden;
}
#container {
  --queue-offset: -20vh;
  --iterations: 1;
  margin: auto;
  width: 100%;
  padding-bottom: 10em;

  display: flex;
  justify-content: space-around;
  height: 100%;
  align-items: center;
}

.queue-entry {
  --image-url: url("images/tickets/ticket_00.png");
  height: 100%;
  width: 100%;
  margin: 1em;
  opacity: 1;
  background-image: var(--image-url);
  background-size: contain;
  background-repeat: no-repeat;
  /* transition: opacity 0.5s; */
}

.move-queue {
  animation: moveQueue 1s var(--iterations) ease;
}

.show-queue {
  animation: showQueue 1s ease forwards;
}

.hide-queue {
  opacity: 0.1;
}

@keyframes showQueue {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes moveQueue {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(var(--queue-offset) * 1px));
  }
}
